<config>
    <node name="quit" desc="安全退出按钮">
        <font_color>#FFFFFF</font_color>
        <background>#D52E2E</background>
    </node>
    <node name="start" desc="启动页">
        <url>
            <path></path>
        </url>
    </node>
    <node name="welcome" desc="欢迎页">
        <url>
            <path></path>
            <path></path>
            <path></path>
            <path></path>
        </url>
    </node>
    <node name="advertising" desc="广告页">
        <url>
            <path></path>

        </url>
    </node>
    <node name="slideshow" desc="轮播图">
        <url>
            <path></path>
            <path></path>
            <path></path>
            <path></path>
        </url>
    </node>

</config>